version: '3.8'

services:
  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database_dump.sql:/database_dump.sql
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
  bot:
    build: .
    volumes:
      - /bot.py:/bot/bot.py
      - /adds.py:/bot/adds.py
    depends_on:
      - db

volumes:
  postgres_data: