version: '3.8'

services:
  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database_dump.sql:/database_dump.sql
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
  bot:
    build: .
    volumes:
      - ./main.py:/main.py
      - ./adds.py:/adds.py
      - ./callbacks.py:/callbacks.py
      - ./classes.py:/classes.py
      - ./consts.py:/consts.py
    depends_on:
      - db

volumes:
  postgres_data: